* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root {
    --bg-red : rgb(202, 102, 119);
}
.hidden {
    display: none !important;
}

.box {
    display: none;
}
p{
    margin: 0px;
}
.admin {
    display: flex;
    height: 100vh;

    .left {
        background-color: rgb(191, 71, 91);
        color: white;
        padding: 0px 20px;

        li {
            padding: 20px;
            display: flex;
            gap: 15px;
            align-items: center;

            &:hover {
                color: black;
            }
        }

        header {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid gray;
            position: relative;

            .icon {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: -20px;
                transform: translate(50%);
            }
        }

        h4 {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid gray;
        }
    }

    .right {
        flex: 1;

        header {
            padding: 25px;
            height: 70px;
            background-color: rgb(215, 146, 157);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid gray;

            .option {
                padding-left: 20px;
                display: flex;
                gap: 45px;
            }

            .user {
                position: relative;

                .user-box {
                    background-color: white;
                    position: absolute;
                    transform: translate(-75%);
                    z-index: 1;
                    padding: 0;

                    li {
                        padding: 15px;
                        white-space: nowrap;

                        &:hover {
                            background-color: gray;
                            color: red;
                        }
                    }
                }
            }
        }

        main {
            background-color: rgb(215, 146, 157);
            padding: 20px;

            .tables {
                .card {
                    position: relative;

                    span {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        background-color: rgb(186, 34, 59);
                        color: white;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        top: 10px;
                        left: 10px
                    }

                    .card-body {
                        display: flex;
                        justify-content: space-evenly;
                    }
                }
            }

            .foods {
                .card_header {
                    display: flex;
                    justify-content: space-between;

                    span {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        background-color: rgb(186, 34, 59);
                        color: white;
                        display: flex;
                        justify-content: center;
                        top: 10px;
                        left: 10px
                    }

                    i {
                        color: rgb(186, 34, 59);
                        font-size: 25px;
                    }
                }
                .card-body{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    .quantity{
                        width: 30px;
                        text-align: center;
                    }
                    i{
                        color: rgb(186, 34, 59);
                        font-size: 25px;
                    }
                }

            }
            .food_header{
                margin: 10px;
                display: flex;
                justify-content: space-between;
                button{
                    padding: 3px;
                    background-color:var(--bg-red) ;
                    color: white;
                    border-radius: 6px;
                    border: none;
                    padding: 5px;
                }
                .table_order{
                    display: flex;
                    gap: 5px;
                }
            }
        }
    }
}
    @media screen and (min-width: 769px) {}

    @media screen and (max-width: 768px) {
        .admin {
            display: block;

            header {
                .icon {
                    transform: translate(-50%) !important;
                }
            }

            .list-menu {
                display: none;
            }
        }
    }