<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="admin">
        <div class="left">
            <header>
                <i class="fa-solid fa-house item"></i>
                <h3 class="item hidden">PINK STORE</h3>
                <div class="icon">
                    <i class="fa-solid fa-list item"></i>
                    <i class="fa-solid fa-arrow-left item hidden"></i>
                </div>
            </header>
            <div class="list-menu">
                <li>
                    <i class="fa-solid fa-gauge"></i>
                    <span class="item hidden chose">DASHBOARD</span>
                </li>
                <h4 class="item hidden">
                    UI ELEMENTS
                </h4>
                <li>
                    <i class="fa-solid fa-table"></i>
                    <span class="item hidden chose">RESERVATION</span>
                </li>
                <li>
                    <i class="fa-solid fa-bowl-food"></i>
                    <span class="item hidden chose">ORDER FOOD</span>
                </li>
                <li>
                    <i class="fa-solid fa-credit-card"></i>
                    <span class="item hidden chose">PAY BILL</span>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <span class="item hidden chose">INFORMATION</span>
                </li>
            </div>
        </div>
        <div class="right">
            <header>
                <div class="option">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="user">
                    <i class="fa-regular fa-user"></i>
                    <ul class="user-box hidden">
                        <li>Username</li>
                        <li>My Profile</li>
                        <li>Setting</li>
                        <li>Logout</li>
                    </ul>
                </div>
            </header>
            <main>
                <div class="box">DASHBOARD</div>
                <div class="box">
                    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 g-4 tables">
                    </div>
                </div>
                <div class="box">
                    <div class="food_header">
                        <div class="table_order">
                            <p>Choose a table</p>
                            <select id="select_table">
                                <option value="">Choose a table</option>

                            </select>
                            <button>Order</button>
                        </div>
                        <div class="search">
                            <input type="text" placeholder="Search...">
                            <button>Search</button>
                        </div>
                        <div class="add_food">
                            <button data-bs-toggle="modal" data-bs-target="#addFood">Add Food</button>
                        </div>
                    </div>
                    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 g-4 foods">

                    </div>
                </div>
                <div class="box">
                    <div class="table_choose">
                        <p>Choose a table</p>
                        <select id="select_table2">
                            <option value="">Choose a table</option>

                        </select>
                        <button>Pay Bill</button>
                    </div>
                    <div class="bill_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">INFORMATION</div>
            </main>
            <!-- Modal Booking -->
            <div class="modal fade" id="booking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form_booking">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Customer Name</label>
                                    <input required type="text" class="form-control" id="customerName"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Quantity</label>
                                    <input required type="number" class="form-control" id="quantity">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal Add Food -->
            <div class="modal fade" id="addFood" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ADD FOOD</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="submit-food">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="nameFood" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Price</label>
                                    <input type="number" class="form-control" id="price">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="file" id="formFile">
                                    <img src="" class="w-45 mt-3" id="showImgFood" alt="">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="showTableFood" tabindex="-1" aria-labelledby="showTableFood" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody id="cartFood">

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Pay Bills</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/UploadtoCloudinary.js"></script>
    <script src="../js/valididation.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/getTables.js"></script>
    <script src="../js/orderFood.js"></script>
    <script src="../js/getFoods.js"></script>
    <script src="../js/payBill.js"></Script>
</body>

</html>